*{
    background-color: #141414;
    color: white;
    list-style: none;
    text-decoration: none;
}

.nav-bar {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding:0;
    overflow: hidden;
}

.nav-links {
    position: relative;
    padding: 10px;
    width: 45%;
}

.nav-links li {
    display: inline;
    vertical-align: top;
}

.nav-links li a {
    padding: 10px 20px;
}

.personal-links {
    text-align: end;
    position: relative;
    padding: 10px;
    width: 45%;
}

.personal-links li {
    display: inline;
    vertical-align: top;
}

.personal-links li a {
    padding: 10px 20px;
}

.main {
    bottom: 0;
    left: 0;
}

.main h1{
    font-size: 30px;
    margin-left: 40px;
}

.main h2 {
    font-size: 20px;
    margin-left: 40px;
    padding: 0px;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 10px 0px;
}

.thumbnails {
    margin-left: 20px;
    white-space: nowrap;
    overflow: scroll;
}

::-webkit-scrollbar {
    height: 10px;              /* height of horizontal scrollbar ← You're missing this */
    width: 10px;               /* width of vertical scrollbar */
    border: 1px solid #d5d5d5;
  }
